.product-detail{
    width: 90%;
    margin: 0 auto;
    padding: 6rem 2rem 4rem 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.product-detail_img{
    margin-right: 4rem;
}

.product-detail_img img{
    max-width: 20rem;
    height: auto;
    border-radius: 10px;
    transition: transform .5s;
}

.product-detail_img img:hover{
    transform: scale(1.2); 
    cursor: zoom-in;
}

.product-detail_title{
    margin-top: 0;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 500;
}

@media screen  and (max-width: 700px) {
    .product-detail{
        justify-content: flex-start;
    }

    .product-detail_img{
        margin-bottom: 2rem;
    }

    .product-detail_img img{
        max-width: 15rem;
    }
}